/* layout */

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--Light-gray);
    font-size:15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colors */

:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* card component */

.card-component{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 84%;
    height: 74%;
    max-width: 300px;
    max-height: 493.58px;
    border-radius: 1rem;
    background-color: var(--White);
    padding: 1em;
}

.card-component-conteiner-img{
    height: 65%;
}

.card-component-img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

h1{
  
    font-size: 1.3rem;
    text-align: center;
   
}

p{
    text-align: center;
    flex-grow: .5;

}

